.top {
    flex-direction: column;
}

.top-content {
    flex-direction: row;
    overflow: hidden;
    gap: 0px;
    width: 100%;
    position: relative;
    left: 20px;
}

.mid-top-content {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-left: 0px;
}

.title-icon {
    font-size: 20px;
    max-width: 80%;
    gap: 0px;
    align-items: center;
    padding-left: 20px;
    flex-direction: column;
}

.content-top-txt{
    font-size: 40px;
    max-width: 600px;
    min-width: 300px;
    height: 80%;
    font-size: 40px;
    padding-left: 20px;
    justify-content: center;
}

.content-bottom-txt {
    position: relative;
    bottom: 60px;
    padding-left: 0px;
    width: 90%;
}

.content-btn {
    position: relative;
    bottom: 0px;
    left: 80px;
}

.burguer-one {
    opacity: 0;
    width: 1%;
    height: 1%;
    position: relative;
    top: 0px;
}

.search-tools {
    justify-content: center;
    flex-direction: column;
}

.search-list {
    width: 93%;
}

.search-list select {
    font-size: 25px;
}

.search-area {
    padding-bottom: 0px;
    padding-top: 40px;
}

.logotype img {
    width: 100px;
    height: 40px;
}

.bottom {
    flex-direction: column;
}

.inicio {
    opacity: 0;
    width: 1%;
}

.Burgers {
    opacity: 0;
    width: 1%;
}

.Contato {
    opacity: 0;
    width: 1%;
}

.fa-bars {
    opacity:1;
    font-size: 40px;
}

.order-top {
    opacity: 0;
    width: 1%;
}

.fa-face-smile {
    position:relative;
    left: 130px;
    bottom: 180px;
    padding-top: 60px;
    padding-left: 10px;
    font-size: 40px;
}

.btn-pesquisa {
    background-color: rgb(35, 35, 35);
    color: gray;
    border: none;
    width: 90%;
    height: 60px;
    font-size: 25px;
    border-radius: 20px ;
}

/* ----------------------------------- */

/*               MENU                  */

/* ----------------------------------- */

.list-menu {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 200px;
    gap: 120px;
}

.item1 {
    grid-area: first;
    list-style: none;
    width: 300px;
    height: 300px;
}
.item2 {
    grid-area: second;
    list-style: none;
    width: 300px;
    height: 300px;
}
.item3 {
    grid-area: third;
    list-style: none;
    width: 300px;
    height: 300px;
}
.item4 {
    grid-area: four;
    list-style: none;
    width: 300px;
    height: 300px;
}
.item5 {
    grid-area: five;
    list-style: none;
    width: 300px;
    height: 300px;
}
.item6 {
    grid-area: six;
    list-style: none;
    width: 300px;
    height: 300px;
}

/* ---------------------------------- */

/*             FOOTER                 */

/* ---------------------------------- */

.bottom-final {
    position: relative;
    top: 150px;
    width: 100%;
}