.inicio {
    opacity: 0;
}

.Burgers {
    opacity: 0;
    width: 100%;
}

.Contato {
    opacity: 0;
    width: 100%;
}

.fa-bars {
    opacity: 1;
    width: 100%;
}

.fa-face-smile {
    position:relative;
    right: 0px;
    bottom: 0px;
    left: 20px;
    font-size: 80px;
}

.fa-magnifying-glass {
    background-color: rgb(35, 35, 35);
    padding: 20px;
    height: 20px;
    position: relative;
    bottom: 4px;
    border-radius: 20px 0px 0px 20px;
    padding-right: 30px;
    right: 40px;
}

.order-top {
    opacity: 0;
}

.top-content {
    gap: 0px;
    position: relative;
    left: 80px;
}

.title-icon {
    padding-left: 40px;
}

.burguer-one {
    height: 350px;
    position: relative;
    top: 0px;
    padding-left:20px;
    left: 0px;
    right: 50px;
}

.content-top-txt {
    font-size: 40px;
    width: 40%;
    position: relative;
    bottom: 30px;
}

.content-btn {
    position: relative;
    bottom: 150px;
    width: 100%;
}

.mid-top-content {
    padding-left: 40px;
}

.content-bottom-txt {
    height: 100%;
    width: 40%;
    position: relative;
    bottom: 150px;
    left: 40px;
}

.search-area {
    padding-top: 40px;
    width: 100%;
}

.search-title {
    width: 100%;
    font-size: 35px;
    padding-left: 80px;
    position: relative;
    left: 80px;
}

.btn-pesquisa {
    padding-left: 80px;
    right: 70px;
}

.search-bar {
   padding-left: 0px;
}

.search-tools {
    flex-direction: column;
    align-items: center;
}

.search-list {
    position: relative;
    top: 40px;
    width: 90%;
}

.search-list select {
    padding-left: 100px;
    position: relative;
    left: 80px;
    font-size: 20px;
}



/* -------------------------------- */ 

/*              MENU                */

/* -------------------------------- */


.list-menu {
    display: grid;
    grid-template-areas: 
    "first second"
    "third four"
    "five six";
    grid-template-columns: 2fr 2fr;
    grid-auto-rows: 400px;
    gap: 20px;
}

.item1 {
    grid-area: first;
    list-style: none;
    width: 200px;
    height: 200px;
}
.item2 {
    grid-area: second;
    list-style: none;
    width: 200px;
    height: 200px;
    padding-left: 80px;
}
.item3 {
    grid-area: third;
    list-style: none;
    width: 200px;
    height: 200px;
}
.item4 {
    grid-area: four;
    list-style: none;
    width: 200px;
    height: 200px;
    padding-left: 80px;
}
.item5 {
    grid-area: five;
    list-style: none;
    width: 200px;
    height: 200px;
}
.item6 {
    grid-area: six;
    list-style: none;
    width: 200px;
    height: 200px;
    padding-left: 80px;
}